@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f172a;
    --foreground: #e2e2e5;

    --muted: #424656;
    --muted-foreground: #e2e2e5;

    --popover: #0f172a;
    --popover-foreground: #e2e2e5;

    --card: #374151;
    --card-foreground: #020817;

    --border: #e1e7ef;
    --input: #67e8f9;

    --primary: #67e8f9;
    --primary-foreground: #003545;

    --secondary: #06b6d4;
    --secondary-foreground: #003545;

    --accent: #374151;
    --accent-foreground: #e2e2e5;

    --destructive: #ef4343;
    --destructive-foreground: #f8fafc;

    --success: #22c55e;
    --warning: #fde047;

    --ring: #94a3b8;

    --radius: 0.5rem;

    --common: #ffffff;
    --uncommon: #65e4f5;
    --rare: #5da0f4;
    --superior: #944cde;
    --exceptional: #e3853a;
    --incomparable: #c7a519;

    /* blue */
    --chart-1: 220 70% 50%;
    /* green */
    --chart-2: 160 60% 45%;
    /* orange */
    --chart-3: 30 80% 55%;
    /* purple */
    --chart-4: 280 65% 60%;
    /* red */
    --chart-5: 340 75% 55%;
    /* yellow */
    --chart-6: 47.9 95.8% 53.1%;
    /* lime */
    --chart-7: 82.7 78% 55.5%;
    /* cyan */
    --chart-8: 187 92% 69%;
    /* fuchsia */
    --chart-9: 292.2 84.1% 60.6%;
    /* indigo */
    --chart-10: 234.5 89.5% 73.9%;
    /* rose */
    --chart-11: 351.3 94.5% 71.4%;
  }
}

@layer base {
  * {
    @apply border-border text-base;
  }

  h1 {
    @apply text-3xl text-primary;
  }

  h2 {
    @apply text-2xl text-primary;
  }

  h3 {
    @apply text-xl text-primary;
  }
}
